* {
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.menu{
    background-color: grey;
    border: 3px solid black;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    height: 200px;
    margin: 10px;
    text-align: left;
    padding: 20px;
    position: relative;
    
}

span{
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    float: right;
    margin: -2px;
    right: 0;
    top: 0;
    text-align: center;
    position: absolute;
    width: 200px;
}

#Chicken{
    background-color: pink;
}

#Beef{
    background-color: red;
}

#Sushi{
    background-color: yellow;
}


@media(min-width: 992px) {
    .monitor{
        width: 33.33%;
        float: left;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .tab{
        width: 50%;
        float: left;
    }
    .tab2{
        width: 100%;
        float: left;
    }
}

@media(max-width: 767px){
    .cell{
        width: 100%;
        float: left;
    }
}